<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwoTrails.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwoTrails.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TwoTrails.Properties.Settings>
            <setting name="District" serializeAs="String">
                <value />
            </setting>
            <setting name="Region" serializeAs="String">
                <value />
            </setting>
            <setting name="AdvancedMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Datum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DecType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Distance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Elevation" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MagDec" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Zone" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="DeleteExistingPlots" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Slope" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SplitIntoIndividualPolys" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogDeckVolume" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LogDeckDistance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogDeckCollarWidth" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="LogDeckLength" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="LogDeckDefect" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogDeckVoid" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DeletePointWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenFolderOnExport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SortPolysByName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowStartupLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DisplayMapBorder" serializeAs="String">
                <value>False</value>
            </setting>
        </TwoTrails.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <TwoTrails.Properties.Settings>
            <setting name="LastUpdateCheck" serializeAs="String">
                <value />
            </setting>
        </TwoTrails.Properties.Settings>
    </applicationSettings>
</configuration>