<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="TwoTrails.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TwoTrails.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.106.0" newVersion="1.0.106.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GeoAPI" publicKeyToken="a1a0da7def465678" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.5.0" newVersion="1.7.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NetTopologySuite" publicKeyToken="f580a05016ebada1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.15.1.0" newVersion="1.15.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <TwoTrails.Properties.Settings>
      <setting name="District" serializeAs="String">
        <value />
      </setting>
      <setting name="Region" serializeAs="String">
        <value />
      </setting>
      <setting name="AdvancedMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Datum" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DecType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Distance" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Elevation" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MagDec" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Zone" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="DeleteExistingPlots" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Slope" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SplitIntoIndividualPolys" serializeAs="String">
        <value>False</value>
      </setting>
    </TwoTrails.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <TwoTrails.Properties.Settings>
      <setting name="LastUpdateCheck" serializeAs="String">
        <value />
      </setting>
    </TwoTrails.Properties.Settings>
  </applicationSettings>
</configuration>
